<div id="content" class="tab-content" role="tablist">
  <div id="pane" class="card tab-pane fade show active" role="tabpanel" aria-labelledby="tab">
    <div class="card-header" role="tab" id="heading-A">
      <h5 class="mb-0">
        <a data-toggle="collapse" href="#collapse-A" data-parent="#content" aria-expanded="true" aria-controls="collapse-A">
                {{contact.name}}
        </a>
      </h5>
    </div>
    <div id="collapse-A" class="collapse show" role="tabpanel" aria-labelledby="heading-A">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3"><img ng-src="{{contact.img}}" /></div>
          <div class="col-md-6 d-flex align-items-center">{{contact.Description}}</div>
          <div class="col-md-3 text-center d-flex align-items-center">
            <button type="button" class="btn btn-dark" ng-click="sendMessage()">Send Message</button>
            <div class="stars">
              <span class="stars" data-rating="4" data-num-stars="5"></span>
            </div>
          </div>
        </div>
        <div class="row likes mt-5">
          <div class="item">
            <div class="font-weight-bold">Likes</div>
            <div class="item-data" ng-repeat="like in contact.Likes">{{like}}</div>
          </div>
          <div class="item">
            <div class="font-weight-bold">Dislikes</div>
            <div class="item-data" ng-repeat="dislike in contact.Dislikes">{{dislike}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>