.nav-tabs {
    display: none;
}
.nav-tabs--vertical {
    display: flex;
    flex-flow: column nowrap;
}
.stars {
    margin: 20px auto 1px;
}

.nopadding {
   padding: 0;
   margin: 0;
}
.contact-details{
    border: 1px solid #495057;
    border-radius: 5px;
}
.tab-content{
    padding: 25px 40px;
}
img{
    width:100%;
}
.likes{
  display: flex;         
  flex-direction: row;    
  flex-grow: 0;            
  flex-wrap: wrap;         
}
.likes .item{
  flex-grow: 1;            
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.likes .item div{
    border:1px solid gray;
    padding: 5px 10px;
}
.likes .item .item-data:nth-child(odd) {
    background: white;
}

.likes .item .item-data:nth-child(even) {
    background: #ccc;
}

@media(min-width:768px) {
    .nav-tabs {
        display: flex;
        border: 1px solid gray;
    }
    .nav-item {
        border-bottom: 1px solid gray;
    }
    .nav-link {
        color: #495057;
    }
    .nav-tabs .nav-link.active {
        border-top-color: gray;
        font-weight: bold;
        border-radius: 0;
    }
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-top-color: gray;
        color: #495057;
    }
    .card {
        border: none;
    }

        .card .card-header {
            display: none;
        }

        .card .collapse {
            display: block;
        }
}

@media(max-width:767px) {
    .tab-pane {
        display: block !important;
        opacity: 1 ;
    }
    .tab-content {
        width: 100%;
    }
    .nav-tabs--vertical {
        display: none;
    }
    
}

.checked {
    color: orange;
}